In [1]:
# trouver les ninimales et maximales d'une colonne sql

In [3]:
import sqlite3
connexion = sqlite3.connect('factbook.db')

In [6]:
population_growth_tuple = connexion.execute("select min(population_growth), name from facts where population_growth != 0;"
).fetchall()

In [9]:
print(population_growth_tuple)

[(0.01, 'Greece')]

In [11]:
population_growth_nameIS = population_growth_tuple[0][1]
print(population_growth_nameIS)

Greece

In [12]:
death_rate_tupple = connexion.execute("select max(death_rate), name from facts where death_rate != 0;").fetchall()

In [13]:
print(death_rate_tupple)

[(14.89, 'Lesotho')]

In [22]:
death_rate1 = death_rate_tupple[0][0]
death_rate2 = death_rate_tupple[0][1]

In [23]:
print(death_rate1)

14.89

In [24]:
print(death_rate2)

Lesotho

### SUM AVG moyenne

In [26]:
import sqlite3
connexion = sqlite3.connect('factbook.db')

In [29]:
sum_area_land_tuple = connexion.execute("select sum(area_land) from facts;").fetchall()
average_area_water_tuple= connexion.execute("select avg(area_water) from facts;").fetchall()
sum = sum_area_land_tuple[0][0]
 avg = average_area_water_tuple[0][0]

In [30]:
print(sum, avg)

128584834 19067.59259259259

In [32]:
connexion.close()

In [43]:
import sqlite3
connexion =sqlite3.connect('factbook.db')

In [45]:
avg_pop = connexion.execute("select avg(population_growth) from facts where population > 1000000").fetchall()
avg = avg_pop[0][0]
print(avg)

1.3379503105590063

### selectionner des elements unique

In [6]:
connexion = sqlite3.connect('factbook.db')
unique_birth_rates = connexion.execute("select distinct birth_rate from facts;").fetchmany(2)
print(unique_birth_rates)

[(38.57,), (12.92,)]

### calcul entre colone

In [5]:
import sqlite3
connexion = sqlite3.connect('factbook.db')
growth_pop = connexion.execute("select name,(birth_rate + migration_rate ) / death_rate from facts ;").fetchmany(5)
print(growth_pop)

[('Afghanistan', 2.8855291576673863), ('Albania', 2.465045592705167), ('Algeria', 5.705336426914155), ('Andorra', 1.168103448275862), ('Angola', 3.4151436031331595)]

In [12]:

next_pop = connexion.execute("select name,population,((population * population_growth)/100) from facts ;").fetchmany(5)
print(next_pop)

[('Afghanistan', 32564342, 755492.7344), ('Albania', 3029278, 9087.834), ('Algeria', 39542166, 727575.8544), ('Andorra', 85580, 102.696), ('Angola', 19625353, 545584.8134)]

In [18]:
last_query = connexion.execute("select name,population, population_growth,(((population * population_growth)/100)+population) from facts;").fetchone()

In [19]:
print(last_query)

('Afghanistan', 32564342, 2.32, 33319834.7344)

In [16]:
review = connexion.execute("select name,population,population *(population_growth/100 +1), population_growth from facts ;").fetchone()

In [17]:
print(review)

('Afghanistan', 32564342, 33319834.734400004, 2.32)