In [1]:
import sqlite3
import pandas as pd

In [2]:
connexion = sqlite3.connect('factbook.db')

In [3]:
a = pd.read_sql_query('SELECT SUM(area_land), SUM(area_water)FROM facts WHERE area_land != "";', con = connexion)

In [4]:
print(a['SUM(area_land)']/a['SUM(area_water)'])

0    28.390657
dtype: float64