# Rappel table

In [1]:
import sqlite3

In [2]:
connexion = sqlite3.connect('nominations.db')

In [3]:
connexion.execute('pragma table_info(naminations)').fetchall()

[]

In [11]:
connexion.execute('pragma table_info(nominations)').fetchall()

[(0, 'Year', 'INTEGER', 0, None, 0),
 (1, 'Category', 'TEXT', 0, None, 0),
 (2, 'Nominee', 'TEXT', 0, None, 0),
 (3, 'Won', 'INTEGER', 0, None, 0),
 (4, 'Movie', 'TEXT', 0, None, 0),
 (5, 'Characters', 'TEXT', 0, None, 0)]

In [20]:
for row in connexion.execute('select* from nominations limit 10;').fetchall():
    print (row)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

## cr√©er la table cremonies

In [21]:
# execute.many (requestSQL, List)

In [24]:
connexion.execute('create table ceremonies (id integer primary key, Year integer, Host text);').fetchall()

[]

In [26]:
connexion.execute('select name from sqlite_master where type="table"').fetchall()

[('nominations',), ('ceremonies',)]

In [29]:
connexion.execute('pragma table_info(ceremonies);').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'Year', 'integer', 0, None, 0),
 (2, 'Host', 'text', 0, None, 0)]

In [34]:
Year_Host= [(2010, "peter"),
(2011, "Marcel"),
(2013, "Jcques")
    
    
]

In [37]:
insert_query='insert into ceremonies(Year, Host) Values (?,?);'

In [38]:
connexion.executemany(insert_query, Year_Host).fetchall()

[]

In [40]:
connexion.commit()

In [41]:
connexion.execute('select * from ceremonies limit 10;').fetchall()

[(1, 2010, 'peter'), (2, 2011, 'Marcel'), (3, 2013, 'Jcques')]

## contraintes de cle externe

In [42]:
connexion.execute('pragma foreign_keys = on;').fetchall()

[]

In [43]:
connexion.execute('create table nominations_two(id integer primary key, category text, nominee text, movie text, character text, won integer, ceremmony_id integer references ceremonies(id));').fetchall()

[]

In [44]:
connexion.execute('pragma table_info(nominations_two);').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'category', 'text', 0, None, 0),
 (2, 'nominee', 'text', 0, None, 0),
 (3, 'movie', 'text', 0, None, 0),
 (4, 'character', 'text', 0, None, 0),
 (5, 'won', 'integer', 0, None, 0),
 (6, 'ceremmony_id', 'integer', 0, None, 0)]

In [56]:
joined_nominations_query = 'select nominations.category, nominations.nominee, nominations.movie, nominations.Characters, nominations.won, ceremonies.id from nominations inner join ceremonies on nominations.year == ceremonies.year'

In [57]:
joined_nominations = connexion.execute(joined_nominations_query).fetchall()

In [58]:
joined_nominations

[('Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1),
 ('Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  0,
  1),
 ('Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  0,
  1),
 ('Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  1,
  1),
 ('Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', 0, 1),
 ('Actor -- Supporting Role',
  'Christian Bale',
  'The Fighter',
  'Dicky Eklund',
  1,
  1),
 ('Actor -- Supporting Role',
  'John Hawkes',
  "Winter's Bone",
  'Teardrop',
  0,
  1),
 ('Actor -- Supporting Role',
  'Jeremy Renner',
  'The Town',
  'James Coughlin',
  0,
  1),
 ('Actor -- Supporting Role',
  'Mark Ruffalo',
  'The Kids Are All Right',
  'Paul',
  0,
  1),
 ('Actor -- Supporting Role',
  'Geoffrey Rush',
  "The King's Speech",
  'Lionel Logue',
  0,
  1),
 ('Actress -- Leading Role',
  'Annette Bening',
  'The Kids Are All Right',
  'Nic',
  0,
  1),
 ('Actress -- Leading Role', 'Nicole Kidman', 'Rabbit Hole', 'Becca', 0, 1),
 ('Actress -- Leading Role',
  'Jennifer Lawrence',
  "Winter's Bone",
  'Ree',
  0,
  1),
 ('Actress -- Leading Role',
  'Natalie Portman',
  'Black Swan',
  'Nina Sayers/The Swan Queen',
  1,
  1),
 ('Actress -- Leading Role',
  'Michelle Williams',
  'Blue Valentine',
  'Cindy',
  0,
  1),
 ('Actress -- Supporting Role',
  'Amy Adams',
  'The Fighter',
  'Charlene Fleming',
  0,
  1),
 ('Actress -- Supporting Role',
  'Helena Bonham Carter',
  "The King's Speech",
  'Queen Elizabeth',
  0,
  1),
 ('Actress -- Supporting Role',
  'Melissa Leo',
  'The Fighter',
  'Alice Ward',
  1,
  1),
 ('Actress -- Supporting Role',
  'Hailee Steinfeld',
  'True Grit',
  'Mattie Ross',
  0,
  1),
 ('Actress -- Supporting Role',
  'Jacki Weaver',
  'Animal Kingdom',
  "Janine 'Smurf' Cody",
  0,
  1),
 ('Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1),
 ('Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  0,
  1),
 ('Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  0,
  1),
 ('Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  1,
  1),
 ('Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', 0, 1),
 ('Actor -- Supporting Role',
  'Christian Bale',
  'The Fighter',
  'Dicky Eklund',
  1,
  1),
 ('Actor -- Supporting Role',
  'John Hawkes',
  "Winter's Bone",
  'Teardrop',
  0,
  1),
 ('Actor -- Supporting Role',
  'Jeremy Renner',
  'The Town',
  'James Coughlin',
  0,
  1),
 ('Actor -- Supporting Role',
  'Mark Ruffalo',
  'The Kids Are All Right',
  'Paul',
  0,
  1),
 ('Actor -- Supporting Role',
  'Geoffrey Rush',
  "The King's Speech",
  'Lionel Logue',
  0,
  1),
 ('Actress -- Leading Role',
  'Annette Bening',
  'The Kids Are All Right',
  'Nic',
  0,
  1),
 ('Actress -- Leading Role', 'Nicole Kidman', 'Rabbit Hole', 'Becca', 0, 1),
 ('Actress -- Leading Role',
  'Jennifer Lawrence',
  "Winter's Bone",
  'Ree',
  0,
  1),
 ('Actress -- Leading Role',
  'Natalie Portman',
  'Black Swan',
  'Nina Sayers/The Swan Queen',
  1,
  1),
 ('Actress -- Leading Role',
  'Michelle Williams',
  'Blue Valentine',
  'Cindy',
  0,
  1),
 ('Actress -- Supporting Role',
  'Amy Adams',
  'The Fighter',
  'Charlene Fleming',
  0,
  1),
 ('Actress -- Supporting Role',
  'Helena Bonham Carter',
  "The King's Speech",
  'Queen Elizabeth',
  0,
  1),
 ('Actress -- Supporting Role',
  'Melissa Leo',
  'The Fighter',
  'Alice Ward',
  1,
  1),
 ('Actress -- Supporting Role',
  'Hailee Steinfeld',
  'True Grit',
  'Mattie Ross',
  0,
  1),
 ('Actress -- Supporting Role',
  'Jacki Weaver',
  'Animal Kingdom',
  "Janine 'Smurf' Cody",
  0,
  1)]

In [62]:
insert_nominations_two ='insert into nominations_two values(null,?,?,?,?,?,?);'

In [63]:
connexion.executemany(insert_nominations_two, joined_nominations).fetchall()

[]

In [64]:
connexion.commit()

In [76]:
 connexion.execute('drop table nominations;').fetchall()
 connexion.execute('alter table nominations_two rename to nominations;').fetchall()
 
 
 #uniquement avec sqlite qui ne permet pas de supprimer une table la solution copie renomer

OperationalError: database table is locked

In [77]:
connexion.execute('select name from sqlite_master where type="table";').fetchall()

[('nominations',),
 ('ceremonies',),
 ('nominations_two',),
 ('movies',),
 ('actors',)]

In [78]:
movies = 'create table movies(id integer primary key, movie text);'

In [79]:
actors ='create table actors(id integer primary key, actor text)';
movies_actors = 'create table movies_actors (id integer primary key, movie_id integer references movies(id),actor_id integer references actors(id));'

In [80]:
connexion.execute(movies)
connexion.execute(actors)
connexion.execute(movies_actors)

OperationalError: table movies already exists

In [81]:
connexion.execute('select name from sqlite_master where type="table"').fetchall()

[('nominations',),
 ('ceremonies',),
 ('nominations_two',),
 ('movies',),
 ('actors',)]