In [6]:
import pandas as pd
import sqlite3

df = pd.read_csv('academy-awards.csv', encoding ='ISO-8859-1')

df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['Unnamed: 5'].value_counts()

*                                                                                                               7
 resilience                                                                                                     1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 discoverer of stars                                                                                            1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
Name: Unnamed: 5, dtype: int64

In [8]:
df['Unnamed: 6'].value_counts()

*                                                                   9
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 flexibility and water resistance                                   1
 sympathetic                                                        1
Name: Unnamed: 6, dtype: int64

In [9]:
df.shape

(10137, 11)

In [15]:
df['Year'].value_counts()

1941 (14th)      192
1942 (15th)      190
1943 (16th)      188
1944 (17th)      181
1945 (18th)      163
1940 (13th)      162
1939 (12th)      153
1998 (71st)      150
1938 (11th)      145
1995 (68th)      141
1954 (27th)      141
2009 (82nd)      140
1952 (25th)      138
1994 (67th)      138
1997 (70th)      137
2001 (74th)      137
1937 (10th)      135
1953 (26th)      135
2010 (83rd)      135
1956 (29th)      134
1955 (28th)      132
1964 (37th)      132
1996 (69th)      131
2006 (79th)      130
2000 (73rd)      129
1961 (34th)      129
1966 (39th)      129
2004 (77th)      129
2005 (78th)      129
1990 (63rd)      129
                ...
1987 (60th)      119
2008 (81st)      118
1975 (48th)      118
1983 (56th)      116
1950 (23rd)      116
1985 (58th)      116
1948 (21st)      115
1974 (47th)      115
1946 (19th)      115
1958 (31st)      115
1936 (9th)       115
1972 (45th)      114
1947 (20th)      114
1989 (62nd)      114
1976 (49th)      113
1967 (40th)      113
1980 (53rd)      113
1970 (43rd)      112
1969 (42nd)      112
1971 (44th)      110
1973 (46th)      109
1957 (30th)      106
1935 (8th)        95
1934 (7th)        68
1932/33 (6th)     65
1930/31 (4th)     50
1931/32 (5th)     47
1929/30 (3rd)     42
1927/28 (1st)     39
1928/29 (2nd)     38
Name: Year, Length: 83, dtype: int64

In [16]:
df ['Year'] = df['Year'].str[0:4]

In [17]:
df['Year'].dtypes

dtype('O')

df['Year'].value_counts()

In [18]:
df['Year'].value_counts()

1941    192
1942    190
1943    188
1944    181
1945    163
1940    162
1939    153
1998    150
1938    145
1995    141
1954    141
2009    140
1994    138
1952    138
2001    137
1997    137
2010    135
1937    135
1953    135
1956    134
1955    132
1964    132
1996    131
2006    130
1966    129
2000    129
2004    129
1990    129
1961    129
2005    129
       ...
1993    119
2008    118
1975    118
1950    116
1985    116
1983    116
1974    115
1946    115
1948    115
1936    115
1958    115
1972    114
1989    114
1947    114
1967    113
1976    113
1980    113
1969    112
1970    112
1971    110
1973    109
1957    106
1935     95
1934     68
1932     65
1930     50
1931     47
1929     42
1927     39
1928     38
Name: Year, Length: 83, dtype: int64

In [19]:
df['Year'] = df['Year'].astype(int)

In [21]:
df['Year'].dtypes

dtype('int32')

In [22]:
later_than_2000 = df[df['Year']>2000]

In [23]:
later_than_2000.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.shape

(10137, 11)

In [25]:
later_than_2000.shape

(1294, 11)

In [26]:
 # actor -- leading role
# actor supporting role
# actess leading
# actress -sup tole

In [30]:
award_categories = ['Actor -- Leading Role','Actor -- Supporting Role','Actress -- Leading Role', 'Actress -- Supporting Role']

In [31]:
nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

In [32]:
nominations.shape

(200, 11)

### nettoyer les colonnes unnamed et won?

In [33]:
replacements = {"NO":0, "YES":1}

In [36]:
nominations['Won?'] = nominations['Won?'].map(replacements)

C:\Users\Selim.NASRI\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
nominations["Won"] = nominations ["Won?"]

C:\Users\Selim.NASRI\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [97]:
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [124]:
drop_cols =["Won?","Unnamed: 5","Unnamed: 6","Unnamed: 7","Unnamed: 8","Unnamed: 9","Unnamed: 10"]

In [125]:
final_nominations = nominations.drop(drop_cols, axis=1)

In [126]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

## nettoyage colone additional info

In [127]:
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")

In [128]:
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [129]:
additional_info_two = additional_info_one.str.split(" {'", expand = True)

In [130]:
additional_info_two.head()

                    0                1
0            Biutiful            Uxbal
1           True Grit  Rooster Cogburn
2  The Social Network  Mark Zuckerberg
3   The King's Speech   King George VI
4           127 Hours     Aron Ralston

In [131]:
movie_names = additional_info_two [0]

In [132]:
movie_names.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: 0, dtype: object

In [133]:
characters = additional_info_two[1]

In [134]:
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: 1, dtype: object

In [135]:
final_nominations['Movie'] = movie_names
final_nominations['Characters'] = characters

In [136]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Characters
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [143]:
final_nominations.drop(['Additional Info'], axis=1, inplace=True)

In [144]:
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Characters
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston

# Exporter vers SQLite

In [145]:
# to_sql(name,connexion)

In [146]:
final_nominations.dtypes

Year           int32
Category      object
Nominee       object
Won            int64
Movie         object
Characters    object
dtype: object

In [147]:
connexion = sqlite3.connect('nominations.db')

In [151]:
final_nominations.to_sql('nominations', connexion, index=False )

ValueError: Table 'nominations' already exists.

In [158]:
final_nominations.to_sql('nominations', connexion,if_exists='append', index=False )

In [ ]:
#final_nominations.to_sql('nominations', connexion,if_exists='replace', index=False )